html {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

.header{
    display: flex;
    height: 69px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    padding: 0 10px;
}
.header img{
    height: 50px;
}
.header .buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-decoration: underline;
}

.mission{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('img-mission-background.jpg');
    height: 700px;
    max-width: 1200px;
    margin: auto;
}

.mission_text{
    background-color: black;
    width: 1200px;
}

.TOTM {
    width: 1000px;
    align-items: center;
    margin: auto;
}

.TOTM .pics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.TOTM .pics .picture{
    margin: 10px;
}

.TOTM .pics img {
    max-height: 200px;
    max-width: 300px;
}

.locations{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('img-mission-background.jpg');
    height: 500px;
    margin: auto;
}

.locations .loc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    width: 100%;
    max-width: 1200px;
}

.locations .locations_title{
    margin-bottom: 15px;
}

.locations .loc .location_details{
    background-color: black;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;
    box-sizing: border-box;
}

.details{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.copyright{
    display: flex;
    justify-content: flex-start; /* Aligns the content to the left */
    padding-left: 20px; /* 20px from the left edge */
    width: 100%; /* Ensures the div takes the full width of the screen */
    box-sizing: border-box; /* Ensures padding is included in the element’s width */
    position: relative;
}